<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <div class="container">
    <div class="login-form">
      <div class="login-field">
        <div class="field">
          <label>Username</label>
          <input placeholder="Username" type="text">
        </div>
      </div>
      <br><br>
      <button class="submit-button">Create New Adventure</button>
    </div>
  </div>
</body>

</html>