* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input-form {
  height: 500px;
  width: 500px;
  border: solid black 3px;
}

.id-print {
  height: 50px;
  width: 500px;
  margin-top: 450px;
}

.chat-list {
  height: 450px;
  width: 500px;
  border: solid black 3px;
}

.whisper-btn {
  height: 30px;
  width: 100px;
  margin-top: 146px;
}

.chat-screen {
  border: solid magenta 3px;
  height: 400px;
  width: 400px;
}

.message-input {
  margin-top: 355px;
  height: 40px;
  width: 320px;
}

.send-btn {
  height: 40px;
  width: 70px;
}
